#main {
  padding: 125px 0;
  .main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .main_title {
      font-family: "Raleway";
      font-weight: 900;
      text-transform: uppercase;
      font-size: $_64px;
      color: $_white;
      text-align: center;
    }
    .main_text {
      margin-top: 31px;
      p {
        font-family: "Raleway";
        font-weight: 400;
        text-transform: uppercase;
        font-size: $_24px;
        color: $_white;
        text-align: center;
        margin-bottom: 90px;
      }
    }
    .download {
      width: 370px;
      height: 78px;
      background-color: $_red_b_n_a;
      color: $_white;
      text-transform: uppercase;
      font-family: "Raleway";
      font-weight: 900;
      font-size: $_24px;
      cursor: pointer;
      border: none;
      margin: auto;
      transition: 0.3s;
    }
    .download:hover {
      background-color: $_red;
    }
    .download:focus {
      box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
    }
  }
}
