$_white: #FFFFFF;
$_red: #E71414;
$_red_b_n_a: #FF4343;
$-red-mask:rgba(255, 67, 67, 0.8);
$_blood: rgba(185, 12, 12, 0.8);
$_blood-mask: #B90C0C;
$_grey: #BABBC5;
$_black: #2D3033;
$_grey_text: #6C7279;
$_bordo: #5C3249;
$_blue: #353C65;
$_deep_blue: #2C3154;
$_gray_footer-text: #808080;

$_border: 2px solid $_white;

$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;